<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Deine bestehende Konfiguration -->
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
      <string>siri</string>
    </array>
    <key>NSSiriUsageDescription</key>
    <string>Diese App benötigt Zugriff auf Siri, um benutzerdefinierte Shortcuts zu erstellen und den Timer zu steuern.</string>

    <!-- Mikrofonberechtigung für Spracherkennung -->
    <key>NSMicrophoneUsageDescription</key>
    <string>Die App benötigt Zugriff auf das Mikrofon, um Sprachbefehle zu erkennen.</string>

    <!-- Neue Spracherkennungsberechtigung -->
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Die App benötigt Zugriff auf die Spracherkennung, um gesprochene Befehle zu verstehen und darauf zu reagieren.</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>End</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>end</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSUserActivityTypes</key>
    <array>
        <string>com.vamos.startWork</string>
        <string>com.vamos.startTimer</string>
        <string>com.vamos.stopTimer</string>
        <string>com.vamos.resetTimer</string>
    </array>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
